[package]
name = "analysis"
version = "0.1.0"
edition = "2024"

[lib]
name = "analysis"
path = "src/lib.rs"

[[bin]]
name = "cli"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.60", features = ["derive"] }